<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cfeng.healthport">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera2.full" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".home" />
        <activity android:name=".register" />
        <activity android:name=".profile" />
        <activity android:name=".uploads" />
        <activity android:name=".documents" />
        <activity android:name=".contacts" />
        <activity android:name=".add_contacts" />
        <activity android:name=".forget_password" />
        <activity android:name=".capture" />
        <activity android:name=".photo" />
        <activity android:name=".verification" />
        <activity android:name=".settings" />
        <activity android:name=".change_settings" />
        <activity android:name=".password_update" />
        <activity android:name=".exist_pdf"></activity>
    </application>

</manifest>